<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="sten" class="ua.step.example.part3.performer.Instrumentalist">
        <constructor-arg value="Стэн"/>
        <property name="instrument" ref = "saxophone"/>
        <property name="song" value = "Вальс Мельденсона"/>
    </bean>
    
    <bean id="erik" class="ua.step.example.part3.performer.Instrumentalist">
        <constructor-arg value="Эрик"/>
        <!--<property name="instrument" ref = "saxophone"/>-->

        <property name="instrument">
            <bean class="ua.step.example.part3.performer.Saxophone" />
        </property> 

        <property name="song" value = "Ду Хаст"/>
    </bean>
    
    <bean id="saxophone" class="ua.step.example.part3.performer.Saxophone" />
</beans>