<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="kenny" class="ua.step.example.part3.performer.Instrumentalist"
		autowire="byType">
		<constructor-arg value="Кенни"/>
		<property name="song" value="Jingle Bells" />
	</bean>
	<bean class="ua.step.example.part3.performer.Saxophone" />
</beans>