<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="kenny" class="ua.step.example.part3.performer.Instrumentalist">
       	<constructor-arg value="kenny"/>
		<property name="instrument" ref="piano"/>
		<property name="song" value="Собачий Вальс"/>
	</bean>
	<bean id="piano" class="ua.step.example.part3.performer.Piano" />
</beans>