<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="david" class="ua.step.example.part3.performer.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="guitar" />
				<ref bean="drum" />
			</list>
		</property>
	</bean>
	<bean id="guitar" class="ua.step.example.part3.performer.Guitar" />
	<bean id="drum" class="ua.step.example.part3.performer.Drum" />
</beans>